main.pdf
latex.out
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
main.log
main.out
main.synctex.gz
.DS_Store
.vscode
__pycache__
.ipynb_checkpoints
experiments/.venv
experiments/solved_pivot_table.tex
experiments/*-*.log
aca_or_bc.pdf
aca_or_bc_length_split_1.pdf
aca_or_bc_length_split_2.pdf
aca_or_bc_simplified.pdf
aca_or_bc_simplified_2.pdf
aca_or_bc_simplified_3.pdf
aca_or_bc_times_something_c_something.pdf
choice.pdf
counter_automaton.pdf
counter_automaton_pre.pdf
experiments/0c83096-by-solver.pdf
experiments/0c83096-cactus.pdf
experiments/0c83096-time-boxplot.pdf
experiments/37d4e8f-by-solver.pdf
experiments/37d4e8f-cactus.pdf
experiments/37d4e8f-time-boxplot.pdf
length_split_product.pdf
no-choice.pdf
original_product.pdf
parikh_automaton.pdf
something_c_something.pdf
something_c_something_length_simplified.pdf
