main.pdf
latex.out
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
main.log
main.out
main.synctex.gz
.DS_Store
.vscode
__pycache__
experiments/.ipynb_checkpoints
experiments/.venv
experiments/solved_pivot_table.tex
experiments/*-*.log
